html, body {
    margin: 0;
    font-family: 'Courier New', monospace;
    background: #faf2e8;
    color: #111;
}

.header {
    text-align: left;
    padding: 1.5rem 1rem;
    background: #fbd68d;
}

.header img{
    width: 20%;
    height: auto;
    display: block;
}

.tagline {
    margin-top: 0.25rem;
    margin-left: 1rem;
    font-weight: 300;
    font-size: 1.1rem;
}

.scavenger {
    text-align: center;
}

.hoverable {
    text-align: center;
    position: relative;
}

.random-1 img {
    top: 34%;
    left: 2%;
    width: 3%;
    height: auto;
    position: absolute;
    z-index: 1000;
}

.random-2 img {
    bottom: 3%;
    right: 2%;
    width: 4.5%;
    height: auto;
    position: absolute;
    z-index: 1000;
}

.scavenger-list {
    position: absolute;      
    top: 100%;               
    left: 50%;               
    transform: translateX(-50%); 
    padding: 0.3rem 0.5rem;
    width: 14.5%;           
    border-radius: 10px;
    border: 3px solid #eb6b1e;
    background: linear-gradient(#faf2e8, #faf2e8, #ff956f, #eb764c);
    box-shadow: 0 4px 8px rgba(0,0,0,0.7);
    z-index: 1000;          
    opacity: 0;           
    transition: all 0.4s ease;
    pointer-events: none; 
}

.scavenger-list p {
    margin: 0;
}

.scavenger-list ul{
    text-align: left;
}

.hoverable:hover .scavenger-list {
    opacity: 1;
    pointer-events: auto;
}

.content-box {
    width: 90%;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 12px;
    background: #fbd68d;
    border: 6px solid #fb9f45;
}

.content-box img {
    width: 10%;
    height: auto;
    float: right;
}

.content-box a {
    color: #111;
    text-decoration: none;
}