html, body {
    margin: 0;
    font-family: 'Courier New', monospace;
    background: #ffffff;
    color: #111;
}

.header {
    text-align: left;
    padding: 1.5rem 1rem;
    background: #fbd68d;
}

.header img{
    width: 20%;
    height: auto;
    display: block;
}

.tagline {
    margin-top: 0.25rem;
    margin-left: 1rem;
    font-weight: 300;
    font-size: 1.1rem;
}

.scavenger {
    text-align: center;
}

.hoverable {
    text-align: center;
    position: relative;
}

.scavenger-list {
    position: absolute;      
    top: 100%;               
    left: 50%;               
    transform: translateX(-50%); 
    padding: 0.3rem 0.5rem;
    width: 14.5%;           
    border-radius: 10px;
    border: 6px solid #fb9f45;
    background: #fbd68d;
    z-index: 1000;          
    opacity: 0;           
    transition: all 0.4s ease;
    pointer-events: none; 
}

.scavenger-list p {
    margin: 0;
}

.scavenger-list ul{
    text-align: left;
}

.hoverable:hover .scavenger-list {
    opacity: 1;
    pointer-events: auto;
}

.content-box {
    width: 90%;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 12px;
    background: #fbd68d;
    border: 6px solid #fb9f45;
}