html, body {
    margin: 0;
    font-family: 'Courier New', monospace;
    background: #faf2e8;
    color: #111; 
}

.header {
    text-align: left;
    padding: 1.5rem 1rem;
    background: #fbd68d;
}

.header img{
    width: 20%;
    height: auto;
    display: block;
}

.tagline {
    margin-top: 0.25rem;
    margin-left: 1rem;
    font-weight: 300;
    font-size: 1.1rem;
}

.levels {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
}

.levels button {
    margin: 1vw;
    padding: 0.5vw;
    border: none;
    border-radius: 3px;
    font-family: 'Courier New', monospace;
    font-size: 1.3rem;
    background-color: #c93d09;
    color: #fbd68d;
}

.Kirby {
    display: block;
    margin: 0 auto;
    width: 60%;
    height: auto;
    margin-top: 1rem;
}

.emoji {
    text-align: center;
}