html, body {
    margin: 0;
    font-family: 'Courier New', monospace;
    background: #faf2e8;
    color: #111; 
}

.header {
    text-align: left;
    padding: 1.5rem 1rem;
    background: #fbd68d;
}

.header img{
    width: 20%;
    height: auto;
    display: block;
}

.tagline {
    margin-top: 0.25rem;
    margin-left: 1rem;
    font-weight: 300;
    font-size: 1.1rem;
}